body{margin: 0;
    background-color:  #e6d4c1;
    font-family: "Outfit", sans-serif;
    color: #40514E;
    font-weight: 370;
}

img{width: 100%;
    border-radius: 20px;
}

ul{
    list-style-type: square;
    list-style-position: outside;
    padding-left: 22px;

}

li{line-height: 2rem;
    padding-left: 1rem;
}

li::marker {
  
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(135, 45, 45);
  }
  

hr{

    width: 90%;
    border-color: #d5d5d5;
    border-width: 0 0 1px 0;
    border-style: solid;
}

h1{       
    font-family: "Young Serif", serif;
    color:#40514E;
    font-weight: 300;
}

h2{
    font-family: "Young Serif", serif;
    color: rgb(135, 45, 45);
    font-weight: 300;
}

h3{
    font-weight: 600;
    color: rgb(103, 25, 91);
}

/*********************************************************************/

.whole{
margin: 7% 26%;
background-color: #FFFFFA;
border-radius: 20px;
}

.one{ width: 90%;
    margin: 0 auto;
    padding-top: 37.987px;
}

.two{ width: 82.1%;
      margin: 30px auto;
      background-color: #FFF4F3;
      padding: 30px;
      border-radius: 20px;
}

.three{ width: 90%;
    margin: 50px auto;
    
}

.four{ width: 90%;
    margin: 50px auto;
}

.five{ width: 90%;
    margin: 0 auto;
    padding-bottom: 26.587px;
}

.pre{ margin-top: 0;}

.list{ margin-bottom: 0;}

table.nv{
    border-collapse: collapse;
    width: 100%;
    height: 170px;
}

table.nv tr{
    border-bottom: 1px solid #d5d5d5;
}

table.nv td.val{ color: rgb(135, 45, 45);
    font-weight: bold;    
}

ul.list li::marker{

    font-size: 0.6em;
    }

ul#c1 li::marker{
    color: rgb(103, 25, 91);
}

ol.df li{

    margin-bottom: 12px;
}